<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
crossorigin=""></script>
<body style="text-align:center" >
    <h1>
        <br/>
        <br/>
      Mapa de Marcadores
    </h1>
    <h2>
      En este mapa puedes visualizar tus marcadores guardados
    </h2>
    <head> 
        <title>Ejemplo Radio Button</title> 
    </head>
    
    <body class="radioBoton"> 
    <form name=selTipoMarcador>
    <input class="tipomarcradio-input" routerLink="/mapIncendios" routerLinkActive="active" type="Radio" name="tipoMarcadores" value="incendios"> <label class="tipomarc-input">Incendios</label>
    <input class="tipomarcradio-input" routerLink="/mapCapitales" routerLinkActive="active" type="Radio" name="tipoMarcadores" value="capitales"> <label class="tipomarc-input">Capitales de Europa</label>
    <input class="tipomarcradio-input" routerLink="/mapFavoritos" routerLinkActive="active" type="Radio" name="tipoMarcadores" value="fav" checked> <label class="tipomarc-input">Favoritos</label>
    </form> 
    </body> 
    <br/>
    <br/>
    <div id="map" data-mode="">
      <input type="hidden" data-map-markers="" value="" name="map-geojson-data" />
    </div>
    
    <button id="addMarkerButton" [matMenuTriggerFor]="menu">
        <img src="https://cdn4.iconfinder.com/data/icons/smoothfill-map/30/map_021-location-marker-add-new-pin-512.png" height="35"/>
    </button>
    <mat-menu #menu="matMenu">
      <input class="markerInput" [(ngModel)]="nombreMark" (click)="stopPropagation($event)"/>
      <button *ngIf="nombreMark!=null" id="botonVerde" mat-menu-item (click)="selectGreen()">Verde</button>
      <button *ngIf="nombreMark!=null" id="botonAzul" mat-menu-item (click)="selectBlue()">Azul</button>
      <button *ngIf="nombreMark!=null" id="botonRojo" mat-menu-item (click)="selectRed()">Rojo</button>
    </mat-menu>

  <mat-tab-group dynamicHeight>
    <mat-tab label="Marcadores">
      <div class="example-large-box mat-elevation-z4">
          <mat-list>
          <mat-label>Seleccionar Color del Marcador</mat-label>
          <br/>
          <input class="markerInput" [(ngModel)]="nombreMark"/>
          <mat-divider></mat-divider>
          <button (click)="selectBlue()">Blue</button>
          <mat-divider></mat-divider>
          <button (click)="selectRed()">Red</button>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Long tab">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
<br/>
</body>