div{
    margin: 0 auto;
    height: 700px;
    width: 50%;
}
h1 {
  color: #7FA4B4;
  font-family: verdana;
  font-size: 300%
}
h2 {
  color: #7FA4B4;
  font-family: verdana;
  font-size: 200%
}
  .nuevoMarcador-label {
    display: inline-block;
    width: 30em;
    margin: .5em 0;
    color: #5960CD;
    font-weight: bold;
  }
  .nuevoMarcador-input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    border-color: rgb(231, 231, 231);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: rgb(218, 228, 221);
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  mat-slider {
    width: 300px;
    bottom: 1.53333px;
  }
  .tipomarc-input {
    font-size: 200%;
    padding-right: 35px;
    padding-left: 15px;
  }
  .tipomarcradio-input{
    height: 40px;
    width: 40px;
    position: relative;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
    top: 12.33333px;
  }
  .label-zoom {
      font-size: 150%;
  }
  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  .nombreMarkerInput {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  #addMarkerButton {
    position: absolute;
    top: 1375px;
    right: 1297px;
    padding: 0px;
    z-index: 400;
  }
  #addMarkerButton:hover{
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}
  #botonVerde:hover{
    background-color: rgb(35, 235, 8);
  }
  #botonAzul:hover{
    background-color: rgb(0, 119, 255);
  }
  #botonRojo:hover{
    background-color: rgb(255, 0, 0);
  }
  .markerInput {
    height: 40px;
    width: 80px;
    padding-left: 5px;
    margin-left: 9%;
  }
  .leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}
#addPolygonButton {
  position: absolute;
  top: 1420px;
  right: 1297px;
  padding: 2px;
  z-index: 400;
}
#addPolygonButton:hover{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}
.verde:hover{
  background-color: rgb(35, 235, 8);
}
.azul:hover{
  background-color: rgb(0, 119, 255);
}
.rojo:hover{
  background-color: rgb(255, 0, 0);
}
#addPolygonButtonSelected {
  position: absolute;
  top: 1420px;
  right: 1260px;
  padding: 2px;
  z-index: 400;
  font-size: 250%;
}
#addPolygonButtonSelected:hover{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}
#imgIcono{
  margin-right: 10px;
}