    <div id="map" data-mode="">
      <input type="hidden" data-map-markers="" value="" name="map-geojson-data" />
    </div>
    
    <button id="addMarkerButton" [matMenuTriggerFor]="menu">
        <img src="https://cdn4.iconfinder.com/data/icons/smoothfill-map/30/map_021-location-marker-add-new-pin-512.png" width="32" height="32"/>
    </button>
    <mat-menu #menu="matMenu">
      <input class="markerInput" [(ngModel)]="nombreMark" (click)="stopPropagation($event)"/>
      <button *ngIf="nombreMark!=null" id="botonVerde" mat-menu-item (click)="selectGreen()">Verde</button>
      <button *ngIf="nombreMark!=null" id="botonAzul" mat-menu-item (click)="selectBlue()">Azul</button>
      <button *ngIf="nombreMark!=null" id="botonRojo" mat-menu-item (click)="selectRed()">Rojo</button>
    </mat-menu>

    <button id="addPolygonButton" [matMenuTriggerFor]="poly">
      <img src="https://png.pngtree.com/svg/20160731/98f30b529c.svg" width="30" height="32"/>
  </button>
  <button id="addPolygonButtonSelected" >
      <img src="https://png.pngtree.com/svg/20160731/98f30b529c.svg" width="30" height="32"/>
      +
  </button>
  
  
  <mat-menu #poly="matMenu">
    <input class="PolyInput" [(ngModel)]="nombrePoly" (click)="stopPropagation($event)"/>
    <button *ngIf="nombrePoly!=null" id="borde" mat-menu-item [matMenuTriggerFor]="borde">Borde</button>
  </mat-menu>

  <mat-menu #borde="matMenu">
    <button class="verde" mat-menu-item [matMenuTriggerFor]="bordeVerde">Verde</button>
    <button class="azul" mat-menu-item  [matMenuTriggerFor]="bordeAzul">Azul</button>
    <button class="rojo" mat-menu-item  [matMenuTriggerFor]="bordeRojo">Rojo</button>
  </mat-menu>

  <mat-menu #bordeVerde="matMenu">
    <button id="relleno1" mat-menu-item [matMenuTriggerFor]="relleno1">Relleno</button>
  </mat-menu>

  <mat-menu #relleno1="matMenu">
    <button class="verde" id="bordeVerdeRellenoVerde" mat-menu-item (click)="selectBordeVerdeRellenoVerde()">Verde</button>
    <button class="azul" id="bordeVerdeRellenoAzul" mat-menu-item (click)="selectBordeVerdeRellenoAzul()">Azul</button>
    <button id="bordeVerdeRellenoRojo" mat-menu-item (click)="selectBordeVerdeRellenoRojo()">Rojo</button>
  </mat-menu>

  <mat-menu #bordeAzul="matMenu">
      <button id="relleno2" mat-menu-item [matMenuTriggerFor]="relleno2">Relleno</button>
  </mat-menu>

  <mat-menu #relleno2="matMenu">
    <button class="verde" id="bordeAzulRellenoVerde" mat-menu-item (click)="selectBordeAzulRellenoVerde()">Verde</button>
    <button class="azul" id="bordeAzulRellenoAzul" mat-menu-item (click)="selectBordeAzulRellenoAzul()">Azul</button>
    <button class="rojo" id="bordeAzulRellenoRojo" mat-menu-item (click)="selectBordeAzulRellenoRojo()">Rojo</button>
  </mat-menu>

  <mat-menu #bordeRojo="matMenu">
      <button id="relleno3" mat-menu-item [matMenuTriggerFor]="relleno3">Relleno</button>
    </mat-menu>
  
    <mat-menu #relleno3="matMenu">
    <button class="verde" id="bordeRojoRellenoVerde" mat-menu-item (click)="selectBordeRojoRellenoVerde()">Verde</button>
    <button class="azul" id="bordeRojoRellenoAzul" mat-menu-item (click)="selectBordeRojoRellenoAzul()">Azul</button>
    <button class="rojo" id="bordeRojoRellenoRojo" mat-menu-item (click)="selectBordeRojoRellenoRojo()">Rojo</button>
  </mat-menu>

  <mat-tab-group dynamicHeight>
    <mat-tab label="Marcadores">
          <table class="blueTable" mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
              <tbody>
                  <thead>
                      <td><b>Color</b></td><td><b>Nombre</b></td><td><b>Latitud</b></td><td><b>Longitud</b></td>
                  </thead>
                <tr *ngFor="let im of imgIcon; let i = index">
                  <td><img id="imgIcono"src={{imgIcon[i]}} height="30px" width="18px"/></td>
                  <td>{{verMarcadoresComp[i]}}</td>
                  <td>{{verlatlngmarc[i]}}</td>
                  <td>{{verlatlngmarc[i+1]}}</td>
                </tr>
            </tbody>
            </table>
    </mat-tab>
    <mat-tab label="Polígonos">
        <table class="blueTable" mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
            <tbody>
                <thead>
                    <td><b>Color Borde</b></td><td><b>Color Relleno</b></td><td><b>Nombre</b></td>
                </thead>
              <tr *ngFor="let im of verBorde; let i = index">
                <td><img id="imgBorde" src={{verBorde[i]}} height="30px" width="18px"/></td>
                <td><img id="imgRelleno"src={{verRelleno[i]}} height="30px" width="18px"/></td>
                <td>{{verPolyComp[i]}}</td>
              </tr>
          </tbody>
          </table>
    </mat-tab>
  </mat-tab-group>
<br/>