<div class="mapaConZoom">    
<div class="mapa-div" id="map">


  </div>
<br/>
<label class="label-zoom">Zoom: </label><mat-slider [(ngModel)]="slidervalue" (change)="slidezoom()" min="1" max="10" value="slidervalue" step="1"></mat-slider>
</div>
<br/>
<div class="vistaNormal">
<label *ngIf="buscar==false" class="vistaNormal-label">¿Quieres jugar a buscar la capital?   </label>
<button *ngIf="buscar==false" class="vistaNormal-button" mat-raised-button color="primary" [(ngModel)]="buscar" (click)="quieresjugar()">JUGAR!</button>
<button class="back" mat-raised-button color="primary" (click)="goBack()">Go Back</button>
</div>

<div *ngIf="buscar" class = "juego-div">
<label class="juego-label">Introducir Nombre De Capital: 
  <input class="juego-input" [(ngModel)]="juegoCapi"/>
</label>  <button class="juego-button" (click)="buscarCapital()">Buscar</button>
</div>

<div class="vistaNormal" *ngIf="buscar==false">
<h2>
  Crear nuevo Marcador introduciendo las coordenadas
</h2>
<label class="nuevoMarcador-label">Nombre del marcador
  <input class="nuevoMarcador-input" [(ngModel)]="nombremarker"/>
</label>
<label class="nuevoMarcador-label">Latitud del marcador
  <input class="nuevoMarcador-input" [(ngModel)]="latmarker"/>
</label>
<label class="nuevoMarcador-label">Longitud del marcador
  <input class="nuevoMarcador-input" [(ngModel)]="lonmarker"/>
</label>   <button (click)="crear()">Crear</button>
</div>