.mapa-div{
    margin: 0 auto;
    height: 700px;
    width: 50%;
}
h1 {
  color: #7FA4B4;
  font-family: verdana;
  font-size: 300%
}
h2 {
  color: #7FA4B4;
  font-family: verdana;
  font-size: 200%
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #D1D1D7;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
  .nuevoMarcador-label {
    display: inline-block;
    width: 30em;
    margin: .5em 0;
    color: #5960CD;
    font-weight: bold;
  }
  .nuevoMarcador-input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #D1D1D7;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #64D386;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  mat-slider {
    width: 300px;
    bottom: 1.53333px;
  }
  .tipomarc-input {
    font-size: 200%;
    padding-right: 35px;
    padding-left: 15px;
  }
  .tipomarcradio-input{
    height: 40px;
    width: 40px;
    position: relative;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
    top: 12.33333px;
  }
  .label-zoom {
      font-size: 150%;
  }
  .juego-label{
    font-size: 200%;
    font-style: oblique;
    color: #5960CD;
  }
  .juego-input{
    font-size: 100%;
    padding-right: 25px;
    padding-left: 10px;
    font-style: oblique;
  }
  .juego-button{
    font-style: oblique;
    font-size: 150%;
    background-color: #D1D1D7;
    border: none;
    padding: 13px 40px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 22px;
    margin-left: 20px;
    cursor: hand;
  }
  .juego-button:hover {
    background-color: #64D386;
  }
  .juego-button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .vistaNormal-label {
    display: inline-block;
    font-size: 150%;
    color: #5960CD;
    font-weight: bold;
  }
  .vistaNormal-button {
    margin-left: 20px;
  }
  .back {
    margin-left: 20px;
  }