<mat-tab-group dynamicHeight>
    <mat-tab label="Ver Datos">
      <div class="elegirMapaBox mat-elevation-z4">
        <button mat-raised-button color="primary" (click)="normal.emit(1)">Normal</button>
        <button mat-raised-button color="primary" (click)="topo.emit(1)">Topográfico</button>
      </div>
    </mat-tab>
    <mat-tab label="Elegir Mapa">
      <div class="elegirMapaBox mat-elevation-z4">
          <button class="botonesEM" mat-raised-button color="primary" [disabled]="dis=='incendios'"(click)="incendios.emit(1)">Marcadores: Incendios</button>
          <mat-divider></mat-divider>
          <button class="botonesEM" mat-raised-button color="primary" [disabled]="dis=='capitales'"(click)="capitales.emit(1)">Marcadores: Capitales</button>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <button class="botonesEM" mat-raised-button color="primary" [disabled]="dis=='favoritos'"(click)="normal.emit(1)">Marcadores: Favoritos</button>
          <mat-divider></mat-divider>
          <button class="botonesEM" mat-raised-button color="primary" [disabled]="dis=='trenes'"(click)="trenes.emit(1)">Trenes</button>
          <mat-divider></mat-divider>
          <button class="botonesEM" mat-raised-button color="primary" [disabled]="dis=='aviones'"(click)="aviones.emit(1)">Aviones</button>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button *ngIf="dis=='capitales' && buscar==false" class="botonJugarCapi" mat-raised-button color="primary" (click)="jugarCapi()">Jugar a Adivina la Capital</button>
  
  <div *ngIf="buscar" class = "juego-div">
      <label class="juego-label">Introducir Nombre De Capital</label> 
      <input class="juego-input" [(ngModel)]="juegoCapi"/>
      <button class="botonJugarCapi" mat-raised-button color="primary" (click)="buscarCapi.emit(juegoCapi)">Buscar</button>
  </div>