.example-small-box, .elegirMapaBox {
    justify-content: center;
    margin: 0 auto;
    margin-top:2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 1%;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
    justify-content: center;
  }
  
  .elegirMapaBox {
    height: 85%;
    width: 50%;
    margin: center;
  }
  .botonesEM {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  mat-divider {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  ::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
  }
  .botonJugarCapi{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
  .juego-label{
    font-size: 200%;
    color: rgb(77, 84, 194);
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  .juego-input{
    font-size: 200%;
    padding-right: 25px;
    padding-left: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .labelDistancia{
    font-size: 150%;
  }
  .errorDistancia{
    color: red;
    font-size: 80%;
  }
  .example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/67/67076.svg');
    background-size: cover;
  }
  .example-card {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .tituloCard {
    margin-top: 10px;
  }
  #verVu {
    margin:center;
    margin-bottom: 2%;
  }