<mat-tab-group dynamicHeight>
    <mat-tab label="Ver Datos">
      <div class="example-small-box mat-elevation-z4">
        <input value="normal"
        class="secondary"
        type="button"
        (click)="normal.emit(1)"/>
        <input value="topo"
        class="secondary"
        type="button"
        (click)="topo.emit(1)"/>
      </div>
    </mat-tab>
    <mat-tab label="Elegir Mapa">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>