<div mat-dialog-content>
  <p class="header" style="text-align: center">¿Desea editar el incendio de {{nom}}</p>
  <mat-form-field>
    <div class="inpLab">
    <p>Nombre: </p><input matInput [(ngModel)]="data.incendio.nombre" value="data.incendio.nombre">
    </div>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <div class="inpLab">
      <p>Latitud: </p><input matInput [(ngModel)]="data.incendio.latitud" value="data.incendio.latitud">
    </div>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <div class="inpLab">
      <p>Longitud: </p><input matInput [(ngModel)]="data.incendio.longitud" value="data.incendio.longitud">
    </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="No" (click)="onNoClick()">No Gracias</button>
  <button mat-raised-button class="vale" color="primary" [mat-dialog-close]="data.incendio" cdkFocusInitial>Vale</button>
</div>
