<mat-toolbar color="primary">
   <mat-toolbar-row>
      <nav>
          <button class="homeButton" routerLink="/Principal" mat-flat-button color="primary">
            <mat-icon class="headerIcon">home</mat-icon>
            Home
          </button>
          <button class="homeButton" mat-flat-button color="primary" [matMenuTriggerFor]="menu">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQznyml2ftNT7AayjVsMmv8EJSw_-AjRXBfVBcbz2KENDFwvgc1XQ" width="24" height="28"/>
              Marcadores</button>
            <mat-menu #menu="matMenu">
              <button class="item" routerLink="/mapIncendios" mat-menu-item>Incendios</button>
              <button class="item" routerLink="/mapCapitales" mat-menu-item>Capitales De Europa</button>
              <button class="item" routerLink="/mapFavoritos" mat-menu-item>Favoritos</button>
            </mat-menu>
          <button class="homeButton" routerLink="/mapTrenes" mat-flat-button color="primary">
            <mat-icon class="headerIcon" >train</mat-icon>
            Estaciones De Tren</button>
          <button class="homeButton" routerLink="/mapAviones" mat-flat-button color="primary">
            <mat-icon class="headerIcon">airplanemode_active</mat-icon>
            Aeropuertos</button>
      </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>