<div style="text-align:center">

  <h1>
    Bienvenido a tu app para visualizar mapas
  </h1>
  <img class="no" width="700" alt="Angular Logo" src="https://leafletjs.com/examples/custom-icons/thumbnail.png">
</div>
<h2 style="text-align: center">¿Qué mapas deseas visualizar? </h2>
<div style="text-align: center">
    <img class="imTransf" routerLink="/mapMarcadores" routerLinkActive="active" width = "250" alt="mapaMarcadores" src="https://camo.githubusercontent.com/a0281bc5c0b55f8175fd3ed18c972b320c60e254/68747470733a2f2f7261772e6769746875622e636f6d2f6c766f6f6764742f4c6561666c65742e617765736f6d652d6d61726b6572732f6d61737465722f73637265656e73686f74732f73637265656e73686f742d736f66742e706e67" HSPACE="100" >
    <img class="imTransf" routerLink="/mapTrenes" routerLinkActive="active" width = "300" alt="mapaTrenes" src="https://i.blogs.es/95e50f/maglev-china/450_1000.jpg" HSPACE="100">
    <img class="imTransf" routerLink="/mapAviones" routerLinkActive="active" width = "300" alt="mapaAviones" src="https://gdb.voanews.com/2FCDB942-9AA3-4B7B-9A2E-7B1D29E7AAC1_w1023_r1_s.jpg" HSPACE="100">
</div>
<pre style="font-size:200%">
                Mapa de marcadores               Mapa de trenes                  Mapa de aviones
</pre>
<router-outlet></router-outlet>