<div class="container"  fxLayout
                        fxLayout.xs="column"
                        fxLayoutAlign="center"
                        fxLayoutGap="5%"
                        fxLayoutGap.xs="0">
    <div class="item-1"fxFlex="55%"> 
    <app-mapa ></app-mapa>
    </div>
    <div class="item-2" fxFlex="35%" space-around>
    <app-tabs (topo)="verMapaTopo($event)"
              (normal)="verMapaNormal($event)"
              (incendios)="verMarcadoresIncendios($event)"
              (capitales)="verMarcadoresCapitales($event)"
              (trenes)="verMapaTrenes($event)"
              (buscarCapi)="buscarCapi($event)"
              (aviones)="verMapaAviones($event)">
    </app-tabs>
    </div>
</div>