          <div id="map"></div>
          <div class="vistaNormal">
              <h2>
                Crear nuevo Marcador introduciendo las coordenadas
              </h2>
              <label class="nuevoMarcador-label">Nombre del marcador
                <input class="nuevoMarcador-input" #nombremarker/>
              </label>
              <label class="nuevoMarcador-label">Latitud del marcador
                <input class="nuevoMarcador-input" #latmarker/>
              </label>
              <label class="nuevoMarcador-label">Longitud del marcador
                <input class="nuevoMarcador-input" #lonmarker/>
              </label>   <button (click)="crear(nombremarker.value, latmarker.value, lonmarker.value)">Crear</button>
              </div>